body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
    position: fixed;
    width: 0px;
    height: 20rem;
    background-color: black;
}

.show-sidebar {
    width: 100%;
}
