body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}

.sidebar {
    position: fixed;
    width: 0%;
    height: 80%;
    background-color: rgba(65, 65, 65, 0.829);
    transition: all 300ms ease-in-out;
    color: white;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.show-sidebar {
    width: 25%;   
}

#sidebar-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 1rem 1rem;
    margin: 1rem 0;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

#sidebar-btn:hover {
    background-color: rgb(39, 39, 39);
}

.profile {
    height: 25%;
    display: flex;
    align-items: center;
}

.profile img {
    height: 4rem;
    float: left;
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: 100%;
    border: 2px solid white;
}




.categories {
    height: 50%;
    display: flex;
    align-items: center;
}

.categories ul {
    list-style: none;
    padding-inline-start: 0;
    width: 100%;
}

.categories li {
    padding: .75rem 0;
    display: block;
    transition: all 300ms ease-in-out;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
}

.categories li:hover {
    background-color: rgba(126, 126, 126, 0.829);
}

.categories i {
    margin-right: 2rem;
    margin-left: 1rem;
}

.fa-tv {
    font-size: 0.88rem;
}




.settings {
    height: 15%;
}

.settings p {
    padding: .75rem 0;
    display: block;
    transition: all 300ms ease-in-out;
    width: 100%;
    cursor: pointer;
}

.settings p:hover {
    background-color: rgba(126, 126, 126, 0.829);
}

.settings i {
    margin-left: 1rem;
    margin-right: 1rem;
}



.red-line {
    width: 5px;
    background-color: red;
    height: 100%;
    float: right;
}







.display-none {
    opacity: 0;
    transition: all 100ms ease-in-out;
}
